{% extends "homeworkcrafter/layout.html" %}
{% load static %}
{% block title %}
    Delivery
{% endblock %}

{% block body %}
<div class="card">
  <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
    <img src="{% static 'homeworkcrafter/logo_size_invert.jpg' %}" alt="HOMEBOT" id="received">
  </div>
  <blockquote>
    <h1>¡Éxito!</h1> 
    <p>Recibimos tu solicitud<br/> ¡Estamos en contacto!</p>

    <p>Estamos trabajando en tu pedido:</p>
    <p>{{ delivery.homework }}</p>
    
    <p>Estado de tu pedido:</p>
    <div class="data">
      {% if doc %}
      <a href="{{ doc.deliveredfile.url }}" download>Descarga tu trabajo</a>
      {% else %}
        {{ message }}
      {% endif %}
    </div>

    <img src="{% static 'homeworkcrafter/logo.png' %}" alt="HOMEBOT">
  </blockquote>
  
</div>
{% endblock %}