{% extends "homeworkcrafter/layout.html" %}
{% load static %}
{% block title %}
    HomeworkCrafter
{% endblock %}
{% block body %}
<main id="feeform">
    <h1>Cotiza</h1>
    {% if message %}
        {{ message }}
    {% endif %}
    <form class="cf" action="{% url 'homeworkcrafter:fee' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="half left cf">
            {{ form }}
        </div> 
        <input type="submit" value="Enviar" id="input-submit">
    </form>
</main>
{% endblock %}
</html>