{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'homeworkcrafter/fee.css' %}">
    <title>HomeworkCrafter | Cotiza</title>
    <link rel="icon" href="{% static 'homeworkcrafter/icon.png' %}" type="image/icon type">
</head>
<body>
    <h1>Cotiza</h1>
    {% if message %}
        {{ message }}
    {% endif %}
    <form class="cf" action="{% url 'homeworkcrafter:fee' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="half left cf">
            {{ form }}
        </div> 
        <input type="submit" value="Enviar" id="input-submit">
    </form>
</body>
</html>