{% extends "homeworkcrafter/layout.html" %}
{% load static %}
{% block title %}
    HomeworkCrafter
{% endblock %}

{% block body %}
    <section id="banner">
        <div class="inner">
            <h1>HomeworkCrafter: <span><br />
             by HOMEBOT</span></h1>
            <ul class="actions">
                <li><a href="{% url 'homeworkcrafter:fee' %}" class="button alt">Cotiza</a></li>
            </ul>
        </div>
    </section>

    <section id="one">
        <div class="inner">
                <img src="{% static 'homeworkcrafter/logo.png' %}" alt="HOMEBOT">
            <p>Somos una iniciativa apasionada con la mejora de la situación académica de todos. Ofrecemos servicios que pueden aligerar tu carga de trabajo y mejorar tu desempeño; además de otros servicios digitales. En nuestra plataforma puedes encontrar servicios de cotización de trabajos académicos y de pedidos express. Nos conectamos con universitarios y profesionales para darte la mejor calidad.</p>
        </div>
    </section>

    <section id="two">
        <div class="inner">
            <article>
                <div class="content">
                    <header>
                        <h3>Trabajos</h3>
                    </header>
                    <p>Estamos preparados para recibir una solicitud para cualquier trabajo que necesites. Ingresa tus datos recibe tu código y espera una entrega.</p>
                    <ul class="actions">
                        <li><a href="{% url 'homeworkcrafter:fee' %}" class="button alt">Cotiza</a></li>
                    </ul>
                </div>
            </article>
            <article class="alt">
                <div class="content">
                    <header>
                        <h3>Express</h3>
                    </header>
                    <p>Recibe atención inmediata de nuestra parte para que recibas tu trabajo en solo un par de horas. Espera la mejor calidad y sálvate de un apuro.</p>
                    <ul class="actions">
                        <li><a href="{% url 'homeworkcrafter:express' %}" class="button alt">Cotiza</a></li>
                    </ul>
                </div>
            </article>
        </div>
    </section>

    <section id="three">
        <div class="inner">
            <article>
                <div class="content">
                    <span class="icon fa-laptop"></span>
                    <header>
                        <h3>Cotizar un Trabajo</h3>
                    </header>
                    <p>Presiona el botón "Cotiza" en la parte superior de la página principal y llena tus datos. Recibirás un código que debes conservar para recibir tu trabajo en el apartado "Usa tu Código".</p>
                    <ul class="actions">
                        <li><a href="{% url 'homeworkcrafter:infohome' %}" class="button alt">Ver más</a></li>
                    </ul>
                </div>
            </article>
            <article>
                <div class="content">
                    <span class="icon fa-diamond"></span>
                    <header>
                        <h3>Trabajo Express</h3>
                    </header>
                    <p>Da click en el botón de "cotiza" en "Express", llena el formulario y espera nuestra respuesta. Pondremos en contacto a un colaborador universitario y se haga tu pedido de inmediato.</p>
                    <ul class="actions">
                        <li><a href="{% url 'homeworkcrafter:infoexpress' %}" class="button alt">Ver más</a></li>
                    </ul>
                </div>
            </article>
            <article>
            <div class="content">
                    <span class="icon fa-laptop"></span>
                    <header>
                        <h3>Califícanos</h3>
                    </header>
                    <p>Tomamos acción con base en tus retroalimentaciones. Haznos saber los resultados que tuvimos. No olvides tu código para relacionar con el pedido solicitado.</p>
                    <ul class="actions">
                        <li><a href="{% url 'homeworkcrafter:review' %}" class="button alt">Ver más</a></li>
                    </ul>
                </div>
            </article>
        </div>
    </section>

    <section id="footer">
        <div class="inner">
            <header>
                <h2>ENVÍANOS UN MENSAJE</h2>
                <h5>homeworkcrafter@gmail.com</h5>
            </header>
            <form method="post" action="{% url 'homeworkcrafter:index' %}">
                {% csrf_token %}
                <div class="field half first">
                    <label for="name">Nombre</label>
                    {{ form.name }}
                </div>
                <div class="field half">
                    <label for="email">Email</label>
                    {{ form.email }}
                </div>
                <div class="field">
                    <label for="message">Mensaje</label>
                    {{ form.message }}
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Send Message" class="g-recaptcha button alt" data-sitekey="6LfoK8AZAAAAANDt_EvgSx1HJmxsJ_BZ634oJT90"  data-callback='onSubmit'  data-action='submit' /></li>
                </ul>
            </form>
        </div>
    </section>


    
{% endblock %}
