{% extends "homeworkcrafter/layout.html" %}

{% block title %}
    HomeworkCrafter | Info
{% endblock %}


{% block body %}
<blockquote>
    <h1>Express</h1>
    <h3>Cotiza</h3>
    <p>
        Llena el formulario procurando que los datos sean correctos y estén en el formato que solicita. Es posible que un error venga de que ingreses de manera
        equivocada la fecha o la hora, por ejemplo. Una vez que hagas tu cotización recibirás un código de consulta que puedes utilizar
        para ver el estado de tu pedido y descargarlo una vez que esté pagado.
    </p>
    <h3>Conecta</h3>
    <p>
        Espera nuestro correo donde te diremos cómo proceder con el pago para que la descarga de tu pedido esté habilitada. 
        En el correo recibirás también el código de consulta para evitar pérdidas. Estaremos respondiendo de manera rápida para asegurar que tu pedido salga en cuestión de horas.
    </p>
    <h3>Descarga</h3>
    <p>
        Una vez pagado el pedido, usa tu código, da click en link de descarga y tendrás tu archivo disponible.
    </p>

    <h6>Para más información envía un mensaje en nuestra página principal o un correo directamente
        a homeworkcrafter@gmail.com
    </h6>
</blockquote>
{% endblock %}