{% extends "homeworkcrafter/layout.html" %}

{% block title %}
    HomeworkCrafter | Info
{% endblock %}


{% block body %}
<blockquote>
    <h1>Seguridad</h1>
    <h3>Anonimato</h3>
    <p>
        Cuando se seleccionan nuestros pedidos, se hace de manera ciega entre nuestros colaboradores para evitar 
        cualquier obstáculo entre tú y un trabajo de calidad. <br> 
        La comunicación por correo electrónico es siempre automatizada, salvo en casos de asistencia técnica.

    </p>
    <h3>Seguridad Informática</h3>
    <p>
        Contamos con la más moderna tecnología para el desarrollo web y protocolos de encripción de extremo a extremo. <br>
        Por el momento no solicitamos ningún dato financiero; a la hora del pago, se hace el depósito como tú quieras.
    </p>
    <h3>Transparencia</h3>
    <p>
        Ingresando el código de tu pedido, puedes ver un reflejo exacto del estado de tu pedido. 
        Podrás ver que recibimos tu pedido desde tu correo y observar el progreso que lleva a través de nuestras notificaciones automáticas.
    </p>

    <h6>Para más información envía un mensaje en nuestra página principal o un correo directamente
        a homeworkcrafter@gmail.com
    </h6>
</blockquote>
{% endblock %}