{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tareas y trabajos académicos.">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'homeworkcrafter/icon.png' %}" type="image/icon type">
    <link rel="stylesheet" href="{% static 'homeworkcrafter/main.css' %}">

</head>
<body>
    <header id="header">
        <div class="inner">
            <a href="{% url 'homeworkcrafter:index' %}" class="logo">HomeworkCrafter</a>
            <nav id="nav">
                <a href="{% url 'homeworkcrafter:index' %}#two">Nuestros Servicios</a>
                <a href="{% url 'homeworkcrafter:index' %}#three">Preguntas Frecuentes</a>
                <a href="{% url 'homeworkcrafter:index' %}#footer">Contacto</a>
                <a href="{% url 'homeworkcrafter:redeem' %}">Usa tu Código</a>
            </nav>
        </div>
    </header>
    {% block body %}
    {% endblock %}
</body>
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
    function onSubmit(token) {
    document.getElementById("demo-form").submit();
    }
</script>
</html>