{% extends "homeworkcrafter/layout.html" %}
{% load static %}
    {% block title %}Redeem{% endblock %}
    {% block body %}
    <h1>Canjea tu Código</h1>
    <h2>Ingresa un código y descarga tus documentos</h2>
    <form class="cf" action="{% url 'homeworkcrafter:redeem' %}", method="post">
        {% csrf_token %}
        <div class="half left cf">
            {{ form }}
            <ul class="actions">
                <li><input type="submit" value="Enviar" class="alt" /></li>
            </ul>
    </form>

    {% if message %}
        <h3>{{ message }}</h3>
    {% endif %}

    {% endblock %}
</body>
</html>

