{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'homeworkcrafter/style.css' %}">
    <link rel="stylesheet" href="{% static 'homeworkcrafter/redeem.css' %}">
    <title>HomeworkCrafter | Redeem</title>
    <link rel="icon" href="{% static 'homeworkcrafter/icon.png' %}" type="image/icon type">

</head>
<body>
    <div class="topnav">
        <div>
            <a class="active" href="{% url 'homeworkcrafter:index' %}">Home</a>
        </div>
    </div>
    <h1>Canjea tu Código</h1>
    <h2>Ingresa un código y descarga tus documentos</h2>
    <form class="cf">
        {% csrf_token %}
        <div class="half left cf">
            <input type="text" name="code" id="input-name" placeholder="Código" required>
            <input type="submit" value="Enviar" id="input-submit">
    </form>
</body>
</html>

