{% extends "homeworkcrafter/layout.html" %}
{% load static %}
    {% block title %}Redeem{% endblock %}
    {% block body %}
    <section id="redeem">
    <h1>Usa tu Código</h1>
    <h2>Ingresa un código y descarga tus documentos</h2>
    <form class="cf" action="{% url 'homeworkcrafter:redeem' %}", method="post">
        {% csrf_token %}
        <div class="half left cf">
            {{ form }}
            <ul class="actions">
                <li><input type="submit" value="Enviar" class="alt button"/></li>
            </ul>
            <button class="g-recaptcha" data-sitekey="6LfoK8AZAAAAANDt_EvgSx1HJmxsJ_BZ634oJT90"  data-callback='onSubmit'  data-action='submit' style="visibility: hidden;"></button>
    </form>

    {% if message %}
        <h3>{{ message }}</h3>
    {% endif %}
    </section>

    {% endblock %}
</body>
</html>

