{% extends "staff/layout.html" %}
{% load static %}
{% block body %}
    <div class="pagehead">
        <img src="{% static 'staff/logo_big.png' %}" alt="HOMEBOT">
    </div>
    <table>
        <tr>
            <th>Tarea</th>
            <td>{{ homework.homework }}</td>
        </tr>
        <tr>
            <th>Nivel</th>
            <td>{{ homework.level }}</td>
        </tr>
        <tr>
            <th>Materia</th>
            <td>{{ homework.subject }}</td>
        </tr>
        <tr>
            <th>Fecha de Entrega</th>
            <td>{{ homework.date }}</td>
        </tr>
        <tr>
            <th>Precio</th>
            <td>${{ homework.price }}</td>
        </tr>
        <tr>
            <th>Descripción</th>
            <td>{{ homework.description }}</td>
        </tr>
    </table>
    {% if homework.instruction_file %}
        <div class="down">
            <a href="{{ homework.instruction_file.url }}" download>Archivo</a>
        </div>
    {% endif %}
    <div class="down">
        <form action="{% url 'staff:submit' %}" method="post" enctype="multipart/form-data" class="deliver">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Entregar" id="register">
        </form>
    </div>
    

{% endblock %}