<html>
    <blockquote>
        <p>Hola, {{ name }}.</p>
        <h3>Tu pedido está listo.</h3>
    
        <p>Ingresa tu código en el apartado  <a href="http://www.homeworkcrafter.com/redeem">Usa tu Código</a> para descargar tus archivos.</p>
       
        <br>
        <p>Queremos saber que opinas.</p>
        <a href="http://www.homeworkcrafter.com/review">Califícanos</a> 
        <p>Así tendremos el mejor servicio y filtros para ti.</p>

        <br>
        <br>
        <br>
        <br>
        <h2>HomeworkCrafter</h2>
        <p>Gracias por su preferencia.</p>
    </blockquote>
</html>