{% extends "staff/layout.html" %}
{% load static %}
{% block body %}
<div class="topnav">
    <div class="search-container">
      <form action="", method="post">
        {% csrf_token %}  
        <input type="text" placeholder="Materia" name="subject">
        <input type="number" placeholder="Precio" name="cost">
        <input type="text" placeholder="Fecha" name="date">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
</div>
<div class="pagehead">
    <img src="{% static 'staff/logo_big.png' %}" alt="HOMEBOT">
</div>

<table>
    <tr>
        <th>Tarea</th>
        <th>Materia</th>
        <th>Fecha</th>
        <th>Precio</th>
        <th>Detalles</th>
    </tr>
    {% for homework in homeworks %}
        <tr>
            <td>{{ homework.homework }}</td>
            <td>{{ homework.subject }}</td>
            <td>{{ homework.date }}</td>
            <td>{{ homework.price }}</td>
            <td><a href="{% url 'staff:homework' homework.id %}">Detalles</a></td>
        </tr>
    {% endfor %}

</table>
{% endblock %}