{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'staff/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'staff/util.css' %}">
    <link rel="stylesheet" href="{% static 'staff/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static 'staff/icon.png' %}" type="image/icon type">
    

    <title>HomeBot | Staff</title>
</head>
<body>
    {% block body %}
    {% endblock %}
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
    function onSubmit(token) {
    document.getElementById("demo-form").submit();
    }
</script>
</body>
</html>