{% extends "staff/layout.html" %}
{% load static %}
{% block body %}
<div class="limiter">
    <div class="container-login100">
    <div class="wrap-login100">
    <div class="login100-pic js-tilt" data-tilt>
    <img src="{% static 'staff/logo.png' %}" alt="HOMEBOT">
    </div>
    <form class="login100-form validate-form" action="{% url 'staff:login' %}" method="post">
        {% csrf_token %}
        <span class="login100-form-title">
        Member Login
        </span>
        <div class="wrap-input100 validate-input">
        {{ form.username }}
        <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input">
        {{ form.password }}
        <span class="focus-input100"></span>
        </div>
        {% if message %}
            <div class="txt1">{{ message }}</div>
        {% endif %}
        <div class="container-login100-form-btn">
            <input type="submit" class="login100-form-btn" value="LOGIN">
        </div>
    </form>
    </div>
    </div>
</div>
    {% endblock %}