{% extends "staff/layout.html" %}
{% load static %}
{% block body %}
<div class="limiter">
    <div class="container-login100">
    <div class="wrap-login100">
    <div class="login100-pic js-tilt" data-tilt>
    <img src="{% static 'staff/img-01.png' %}" alt="LOGIN">
    </div>
    <form class="login100-form validate-form" action="{% url 'staff:login' %}" method="post">
    {% csrf_token %}
    <span class="login100-form-title">
    Member Login
    </span>
    <div class="wrap-input100 validate-input">
    <input class="input100" type="text" name="username" placeholder="Usuario" required>
    <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 validate-input">
    <input class="input100" type="password" name="password" placeholder="Contraseña" required> 
    <span class="focus-input100"></span>
    </div>
    {% if message %}
        <div class="txt1">{{ message }}</div>
    {% endif %}
    <div class="container-login100-form-btn">
        <input type="submit" class="login100-form-btn" value="LOGIN">
    </div>
    </form>
    </div>
    </div>
</div>
    {% endblock %}